.time-label-count {
    text-align: left;
    margin-left: 10px;
}

.estimate-time, .actual-time {
    height: inherit;
    min-width: 15px;
    display: inline-block;
    padding: 0 .5rem !important;
    margin: 0 15px 10px 0;
    line-height: 1.14286rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 5px, rgba(0, 0, 0, 0.2) 0px 0px 2px;
    font-size: 0.714286rem;
    color: #fff;
    border-radius: 4px;

}

.estimate-time {
    background: #f2d600;
}

.actual-time {
    background: #61bd4f;
}

.list.estimate-time-hide  .estimate-time {
    display: none;
}

.list.actual-time-hide .actual-time {
    display: none;
}

.cus-divider {
    position: relative;
    width: 100px !important;
}

.cus-divider:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    left: 50%;
    background-color: #026aa7;
}
